.borderRightSide {
    border-right: 2px solid lightgray;
}

.containerHoverBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    height: 60px;
}

.containerHoverBackground::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #B3E5FC;
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.containerHoverBackground img {
    width: 40px;
    height: 40px;
    z-index: 1;
    transition: transform 0.3s ease;
}

.containerHoverBackground:hover::before {
    opacity: 1;
}

.containerHoverScale {
    display: flex;
    justify-content: center;
}

.containerHoverScale img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.containerHoverScale:hover img {
    transform: scale(1.1);
}

.containerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 5vh;
}
.companyName > h1 {
    font-size: xx-large;
    font-family: Serif;
}

.containerLogoBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75px;
    height: 75px;
}

.containerLogoBackground img {
    width: 50px;
    height: 50px;
    z-index: 1;
}

.containerLogoBackground::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #B3E5FC;
    border-radius: 50%;
    z-index: 0;
}

.containerMainApp {
    display: flex;
    flex-direction: row;
    position: relative;
}

.containerOptions {
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.containerSideBar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.categoriesDiv {
    gap: 10px;
    overflow: auto;
    display: grid;
}

.categoriesDiv::-webkit-scrollbar {
    display: none;
}

.category {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.category > label {
    font-weight: bold;
}

.floatingUsername {
    position: absolute;
    width: 10vw;
    height: 5vh;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.floatingUsername p {
    margin: 0;
}

.markerInfo {
    padding-top: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    gap: 5vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;

}

.markerName {
    font-weight: bold;
}

.starBox {
    display: inline-block;
    border-color: rgb(235, 235, 235);
    width: 50px;
    height: 50px;
    margin-right: 2px;
    vertical-align: middle;
    border-radius: 25px;
}

.rating_div {
    align-self: center;
    justify-content: center;
}

.rating {
    display: inline-block;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dumbells {
    width: calc(var(--rating) * 20%); /* Szerokość gwiazdki zależy od oceny */
    background-image: url('../graphics/dumbells.png'); /* Obraz gwiazdek */
    background-size: contain; /* Dopasowanie obrazu do rozmiaru */
  }

.photo {
    border-radius: 25px;
}

.location {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.location > p {
    margin: 0;
    font-weight: bold;
}

.leftArrow {
    display: flex;
    justify-content: center;
}

.sidebar-transition-enter {
    opacity: 0;
    transform: translateX(100%);
}

.sidebar-transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.sidebar-transition-exit {
    opacity: 1;
    transform: translateX(0)
}

.sidebar-transition-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms, transform 300ms;
}